# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DRACULAD_LEFT
    def_bool $(shields_list_contains,draculad_left)
config SHIELD_DRACULAD_RIGHT
    def_bool $(shields_list_contains,draculad_right)
